# .gitignore for galant
# java class and jar files
*.class
*.jar
# emacs backups and TAGS
*.~*~
TAGS
# stuff in the build directory is the result of compilation
build/
# stuff in the doc directory: created when building javadoc
doc
# graphs created on the fly
*.graphml
*.sgf
# anything in the Sandbox -- used for trying things out
Sandbox
# Graph-Gallery is used for WTEiR experiments
Graph-Gallery
# graphs used for research, mostly crossing minimization
Research-Graphs
# other graphs used in crossing minimization research
Crossing_Graphs
# latex stuff
*.blg
*.aux
